@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
}

.max-w-container {
    max-width: 1200px;
}

.centered {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Стили для кастомного скроллбара */
.custom-scroll::-webkit-scrollbar {
    width: 4px; /* Ширина скроллбара */
    height: 4px; /* Высота для горизонтального скролла */
}

.custom-scroll::-webkit-scrollbar-thumb {
    background-color: #eee; /* Цвет бегунка */
    border-radius: 8px;
}

.custom-scroll::-webkit-scrollbar-thumb:hover {
    background-color: #8e8e8e; /* Цвет бегунка при наведении */
}

.custom-scroll::-webkit-scrollbar-track {
    background-color: transparent; /* Цвет фона полосы прокрутки */
}